.checkoutWrapper {
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 30vh;
}

.checkoutPageWrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.soleDisplayCardWrapper {
    max-width: 100%;
}


.cityPostcodeWrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}